main {
	width:800px;
	height:500px;
	font-size:0;
	margin:  0 auto;
}

div {
	border:1px solid black;
	box-sizing: border-box;
	display: inline-block;
}

.gray, .black, .orange {
	width:33.3%;
	height: 300px;
	
}


.green, .blue {
	width:50%;
	height:200px;
	display: inline-block;
}

.green {
	background-color: green;
}


.blue {
	background-color: blue;	
}


.gray {
	background-color: gray;
}


.black {
	background-color: black;
}


.orange {
	background-color: orange;
}

